#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /*text-align: center;*/
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#fpages {
	text-align: center;
}

#fimg {
	width: 25%;
	height: 25%;
}

/*Смартфон HD вертикально*/
#fdata_720spV {
	position: absolute;
	margin-left: 23%;
	margin-top: -23%;
	font-size: 0.9rem;
}

/*Смартфон HD горизонтально*/
#fdata_720spH {
	position: absolute;
	margin-left: 23%;
	margin-top: -23%;
	font-size: 1.5rem;
}

#fdata_720 {
	position: absolute;
	margin-left: 23%;
	margin-top: -24%;
}

/*HD Монитор (горизонтально)*/
#fdata_HD {
	position: absolute;
	margin-left: 22%;
	margin-top: -19%;
}

#fdata_1080 {
	position: absolute;
	margin-left: 24%;
	margin-top: -21%;
}

/*FullHD Монитор (горизонтально)*/
#fdata_FullHD {
	position: absolute;
	margin-left: 20%;
	margin-top: -19%;
}